[submodule "oiio"]
	path = oiio
	url = https://github.com/OpenImageIO/oiio.git
[submodule "embree"]
	path = embree
	url = https://github.com/embree/embree.git
[submodule "OpenExr"]
	path = OpenExr
	url = https://github.com/openexr/openexr.git
[submodule "openexr"]
	path = openexr
	url = https://github.com/openexr/openexr.git
[submodule "ThreadPool"]
	path = ThreadPool
	url = https://github.com/progschj/ThreadPool.git
